#list-filters {
  display: flex;
}
.dropdown {
  padding: 15px;
}

.btn {
  padding: 24px;
}

.dropdown-toggle::after {
  margin-left: 1.255em;
  /* content: none; */
}

#dropdownMenuButton1,
#dropdownMenu1 {
  background-color: var(--blue-color);
  border: none;
}

#dropdownMenuButton1,
#dropdownMenu1 {
  background-color: var(--blue-color);
  border: none;
}

#dropdownMenuButton2,
#dropdownMenu2 {
  background-color: var(--green-color);
  border: none;
}

#dropdownMenuButton3,
#dropdownMenu3 {
  background-color: var(--red-color);
  border: none;
}

.dropdown-item {
  color: #fff;
}
