@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@import "./variables.css";
@import "./components/card-recipe.css";
@import "./components/dropdown.css";
@import "./components/search.css";

body {
  font-family: "Lato", sans-serif;
  font-weight: var(--regular);
  margin: 0 auto;
  max-width: 1240px;
}

header {
  text-align: center;
  padding: 20px;
  color: var(--primary-color);
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header a:visited,
header a:hover,
header a:active {
  color: var(--primary-color);
}
